<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eslate</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/homestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
  <header>
      <nav class="hnav">
        <div class="hhead">My Lab.</div>
        <div class="hlinks">
            <ul class="hlinkul">
                <a href="#"><li>Home</li></a>
                <a href="#footer"><li>Features</li></a>
                <a href="#footer"><li>Contact us</li></a>
                <a href="/auth/register"><li>Sign Up</li></a>
                <a href="/auth/login"><li><span class="hspan">Login</span></li></a>
            </ul>
        </div>
      </nav>
      <div class="himage">
          <div class="hh1  hpadleft">Your Learning Won't Stop</div>
          <div class="hh2  hpadleft">Discover a new way of learning</div>
          <div class="hpadcover  hpadleft"><a href="/auth/register"><div class="hh3 ">Get Started</div></a></div>
          <img class="himg" src="/assets/svg/labcurve.svg">
      </div>
      <section class="hsection">
        <div class="htag">Start Your Success with My Lab. , Get a FREE Online counselling session</div>
       <a href="/auth/register"><div class="hdemo">BOOK FREE ONLINE DEMO</div></a>
        <div class="hwhy">
            <div class="hwhytopic">Why MY Lab. ?</div>
            <div class="hcard">
                <div class="hcard1">
                    <div class="hicon">
                       <img src="assets/svg/heart.svg">
                    </div>
                    <div class="hcardtopic">
                        Convenient & Safe
                    </div>
                    <div class="hcarddetail">
                        No need to travel, learn at the comfort and safety at your home
                    </div>
                </div>
                <div class="hcard1">
                    <div class="hicon">
                        <img src="assets/svg/user-check.svg">
                    </div>
                    <div class="hcardtopic">
                        Adaptive Teaching
                    </div>
                    <div class="hcarddetail">
                        Delivering customized experience based on the student's choice
                    </div>
                </div>
                <div class="hcard1">
                    <div class="hicon">
                        <img src="assets/svg/video.svg">
                    </div>
                    <div class="hcardtopic">
                        LIVE & Interactive
                    </div>
                    <div class="hcarddetail">
                        2-way Interaction between student & teacher, better than recorded videos
                    </div>
                </div>
            </div>
        </div>
      </section>
  </header>
  <div class="hmargin"></div>
  <footer id="footer">
      <div class="hdiv">
          <div class="hdiv1">
            <div class="divtopic" style="font-size:2.1rem;">My Lab.</div>
            <p>Simplyfying Distance Learning</p>
            <div class="hsocial">
                <div class="hslink"><i class="fab fa-facebook-f"></i></div>
                <div class="hslink"><i class="fab fa-twitter"></i></div>
                <div class="hslink"><i class="fab fa-instagram"></i></div>
                <div class="hslink"><i class="fab fa-linkedin-in"></i></div>
            </div>  
            </div>
          <div class="hdiv2">
            <div class="divtopic">Features</div>
            <p>Video Conferencing</p>
            <p>AI Attendence</p>
            <p>Smart Monitoring</p>
          </div>
          <div class="hdiv2">
            <div class="divtopic">Address</div>
            <p>IIITL Hostel, Mastemau</p>
            <p>Chak Gajaria, Lucknow</p>
            <p>U.P.(226002)</p>
          </div>
          <div class="hdiv2">
            <div class="divtopic">Contact Us</div>
            <p>+91-630-664-6570</p>
            <p>LCS2019015@iiitl.ac.in</p>
            <p>Skype: nsn123bn@1</p>
          </div>
      </div>
  </footer>
</body>
</html>